:root {
    --primary-text-color: #757575;
    --title-text-color: #212121; 
    --accent-color: #2196F3;
    --secondary-text-color: #FFFFFF;
    --secondary-background-color: #2F303A;
    --primary-text-decoration: none;
}
body {
    background-color: var(--secondary-text-color);
    color: var(--primary-text-color);
}
.logo {
color: #000000;
text-decoration: var(--primary-text-decoration);
}
.logo-web {
color: var(--accent-color);
}
.list {
list-style: none;
}
.site-nav .link {
    color: var(--title-text-color);
    text-decoration: var(--primary-text-decoration);
}
.site-nav .link:hover,
.site-nav .link:focus
{
color: var(--accent-color);
}
.contacts-link 
{
color: var(--primary-text-color);
text-decoration: var(--primary-text-decoration);
}
.contacts-link:focus,
.contacts-link:hover
{
color: var(--accent-color);
}
.hero {
    background-color: var(--secondary-background-color);
}
.hero-title {
    color: var(--secondary-text-color);
}
.hero-button {
    color: var(--secondary-text-color);
    background-color: var(--accent-color);
    border: none;
}
.hero-button:focus,
.hero-button:hover {
    color: var(--secondary-text-color);
    background-color: #188CE8;
}
.section-title {
color: var(--title-text-color);
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.benefits-title {
    color: var(--title-text-color);
}
.benefits-text {
    color: var(--primary-text-color);
}
.team {
    background-color: #F5F4FA;
}
.team-title {
   color: var(--title-text-color); 
}
.team-text {
    color: var(--primary-text-color);
}
.footer {
    background-color: var(--secondary-background-color);
}
.logo-studio {
    color: var(--secondary-text-color);
}
.address {
    font-style: normal;
}
.link-location {
    color: var(--secondary-text-color);
    text-decoration: var(--primary-text-decoration);
}
.address-link {
    color: #FFFFFF99;
    text-decoration: var(--primary-text-decoration);
}
.address-link:hover,
.address-link:focus,
.link-location:hover,
.link-location:focus 
{
    color: var(--accent-color);
}
.items-button {
    color: var(--title-text-color);
    background-color: #F5F4FA;
    border: none;
}
.items-button:hover,
.items-button:focus {
    color: var(--secondary-text-color);
    background-color: var(--accent-color);
}
.content-link {
    text-decoration: var(--primary-text-decoration);
}
.content-title {
    color: var(--title-text-color);
}
.content-text {
    color: var(--primary-text-color);
}