body {
    background-color: #FFFFFF;
    color: #212121;
}
.logo {
color: #000000;
}
.logo-web {
color: #2196F3;
}
.list {
list-style: none;
}
.site-nav .link {
    color: #212121;
}
.site-nav .link:hover,
.site-nav .link:focus
{
color: #2196F3;
}
.contacts .link 
{
color: #00000040;
}
.contacts .link:focus,
.contacts .link:hover
{
color: #2196F3;
}
